<h1>¿QUIENES SOMOS?</h1>
<p>Somos el primer HOME CENTER de Bolivia y ponemos a su disposici&acoute;n un mundo de soluciones proyectos e ideas para su hogar, oficina o negocio.

Home Center Facil recorre el mundo buscando los mejores, mas &uacute;tiles y novedosos productos, atractivos dise&ntilde;os y por supuesto la mejor calidad acompa&ntilde;ada de insuperables precios en bolivianos, todo con el &uacute;nico fin de ofrecer lo mejor y hacer cada vez mas f&aacute;cil y confortable su vida.
</p>

<h1 style="margin-top: 50px;">NUESTRA MISION</h1>
<p>Entregar a nuestros clientes nuestros mejores productos y servicios con los mas altos est&aacute;ndares de calidad para que nuestro liderazgo, como el primer HOME CENTER de Bolivia sea respaldado con la satisfacci&oacute;n de nuestros clientes.</p>