// Place all the styles related to the RevistaNovios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.estilo_item { width: 150px; float: left; margin-left: 15px; }
.estilo_item img { width: 100%; }
.barra_regalado_bg { width: 75%; height: 5px; padding: 0; background-color: #CCC; float: left; margin-top: 8px; }
.barra_regalado { height: 5px; padding: 0; background-color: green; }
.barra_regalado_text { float: right; width: 23%; margin: 0; font-size: 0.9em; }
#mail_invitation { display: none; background-color: #FFF; border: 5px solid #CCC; padding: 20px; position: relative; }
#mail_invitation #close_btn { position: absolute; top: 0; right: 10px; background: url(close.png); width: 16px; height: 16px; cursor: pointer; }

/**
 * Revista Templates
 */
#pink-heart { background: url(bgs/pink-heart.jpg); color: #333; font-size: 19px; }
#pink-heart #titulo { font-family: 'Engagement', cursive; font-size: 68px; text-align: center; padding-top: 60px; }
#pink-heart .novio { float: left; margin-top: 100px; margin-left: 150px; }
#pink-heart .novia { margin-left: 250px; }
#pink-heart .nombre { font-size: 22px; }
#pink-heart #textos { clear: both; padding: 50px; margin-top: 20px; }
#pink-heart .title { font-size: 14px; font-weight: bold; }
#pink-heart #fecha { color: #555; }
#pink-heart #direccion { color: #555; }
#pink-heart #stocks { border-top: 2px dashed #CCC; padding-top: 10px; }
#pink-heart .stock-item { background-color: #FFF; padding: 3px; margin: 0 45px 60px 0; height: 300px; }

#cute-love { background: url(bgs/cute-love.jpg); color: #FFF; font-size: 19px; }
#cute-love #titulo { font-family: 'Engagement', cursive; font-size: 68px; text-align: center; padding-top: 60px; }
#cute-love .novio { float: left; margin-top: 100px; margin-left: 150px; }
#cute-love .novia { margin-left: 250px; }
#cute-love .nombre { font-size: 22px; }
#cute-love #textos { clear: both; padding: 50px; margin-top: 20px; }
#cute-love .title { font-size: 14px; font-weight: bold; }
#cute-love #fecha { color: #555; }
#cute-love #direccion { color: #555; }
#cute-love #stocks { border-top: 2px dashed #CCC; padding-top: 10px; }
#cute-love .stock-item { background-color: #FFF; padding: 3px; margin: 0 45px 60px 0; height: 300px; }

#minimal { background: url(bgs/minimal.png); color: #555; font-size: 19px; }
#minimal #titulo { font-family: 'Engagement', cursive; font-size: 68px; text-align: center; padding-top: 60px; }
#minimal .novio { float: left; margin-top: 100px; margin-left: 150px; }
#minimal .novia { margin-left: 250px; }
#minimal .nombre { font-size: 22px; }
#minimal #textos { clear: both; padding: 50px; margin-top: 20px; }
#minimal .title { font-size: 14px; font-weight: bold; }
#minimal #fecha { color: #555; }
#minimal #direccion { color: #555; }
#minimal #stocks { border-top: 2px dashed #CCC; padding-top: 10px; }
#minimal .stock-item { background-color: #FFF; padding: 3px; margin: 0 45px 60px 0; height: 300px; }

#autentico { background: url(bgs/autentico.jpg); color: black; font-size: 19px; }
#autentico #titulo { font-family: 'Engagement', cursive; font-size: 68px; text-align: center; padding-top: 60px; }
#autentico .novio { float: left; margin-top: 100px; margin-left: 250px; }
#autentico .novia { margin-left: 100px; }
#autentico .nombre { font-size: 22px; }
#autentico #textos { clear: both; padding: 50px 180px; margin-top: 20px; }
#autentico .title { font-size: 14px; font-weight: bold; }
#autentico #fecha { color: #555; }
#autentico #direccion { color: #555; }
#autentico #stocks { border-top: 2px dashed #CCC; padding-top: 10px; }
#autentico .stock-item { background-color: #FFF; padding: 3px; margin: 0 45px 60px 0; height: 300px; }